* {
    margin: 0;
    padding: 0;
}

body {
    height: 2000px;
}

a {
    cursor: pointer;
}

/*<!--header begin-->*/
/*<!--品牌开始-->*/
.pinpai {
    background-color: #f7f7f7;
}

.header-in {
    width: 1190px;
    height: 30px;
    margin: 0 auto;
}

.header-in p {
    font-size: 12px;
    line-height: 30px;
    color: #999999;
}

.part_line {
    padding-left: 10px;
    padding-right: 10px;
}

.header-in a {
    text-decoration: none;
    font: normal 12px "微软雅黑";
    color: #444444;
}

.header-in a:hover {
    color: #999999;
}

/*<!--logo begin-->*/
.logo {
    padding-top: 20px;
    width: 1190px;
    height: 58px;
    margin: 0 auto;
}

.logo img {
    float: left;
}

.logo ul, .logo li {
    float: right;
}

.logo ul {
    list-style: none;
    margin-top: 10px;

}

.logo li {
    height: 20px;
    padding-left: 15px;
}

.logo li a {
    display: block;
    line-height: 20px;
    text-decoration: none;
    font: normal 14px "微软雅黑";
    color: #444444;
}

.logo li em {
    display: block;
    line-height: 20px;
    font-style: normal;
    font: normal 12px "微软雅黑";
    color: #999999;
}

/*<!--导航，搜索 begin-->*/
.nav {
    width: 1190px;
    height: 40px;
    margin: 0 auto;
}

.all_subject {
    float: left;
    width: 230px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    background: #3492fd;
    border-radius: 8px 8px 0px 0;
    margin-top: 2px;
}

.all_subject a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.title {
    float: left;
    height: 40px;
    line-height: 40px;
}

.title div {
    margin-left: 20px;
    float: left;
}

.ti_in {
    float: left;
    margin-left: 20px;
    font-size: 16px;
    color: #444444;
    text-decoration: none;
}

.ti_n {
    font-size: 16px;
    color: #444444;
    text-decoration: none;
}

.title span {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #c2c2c2;
}

.search {
    float: right;
    width: 180px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    padding: 6px 15px;
    margin-top: -1px;
}

.search input {
    border-right: 1px solid #eeeeee;
    width: 132px;
    outline: none;
    background: none;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    font-size: 14px;
}

.search_btn {
    display: inline-block;
    margin-left: 15px;
    background: url(../images/search.png) center center;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    vertical-align: middle;
    margin-top: -4px;
}

/*<!--header end-->*/

/*<!--middle begin-->*/
.middle {
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: #f7f7f7;
}

/*<!--banner begin-->*/
.banner {
    width: 100%;
    height: 320px;
    background: #373E8E url(../images/web.jpg) center no-repeat;
    /*background-size: cover;*/
}

/*<!--coupons begin-->*/
.coupon_out {
    width: 1190px;
    margin: 0 auto;
}

.coupons {
    margin-top: 10px;
    background-color: #ffffff;
    float: right;
    width: 950px;
    height: 80px;
    border-radius: 8px 8px 8px 8px;
}

.coupons ul {
    list-style: none;
}

.coupons li {
    float: right;
    height: 78px;
}

.coupons li em {
    height: 78px;
    margin: auto 0px;
    line-height: 78px;
    font-style: normal;
    font-size: 30px;
    color: #bbbbbb;
}

.coupons .coupons_in {
    padding: 16px;
    overflow: hidden;
}

.coupons_img {
    float: left;
    width: 44px;
    height: 44px;
    margin-right: 5px;
    background-image: url(../images/infos.png);
}

.coupons_m {
    float: left;
}

.coupons_desc {
    display: block;
    width: 150px;
    font-size: 12px;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.coupons_price span {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*<!--course menu begin-->*/
.slidebar {
    position: absolute;
    width: 230px;
    height: 410px;
    line-height: 40px;
    background-color: #99999999;
    border-radius: 0px 0px 8px 8px;
}

.slidebar ul {
    list-style: none;
}

.slidebar li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 0 30px;
    display: block;
    line-height: 40px;
}

.slidebar li a:hover {
    color: #00a4ff;
}

.slidebar a span {
    margin-right: 30px;
    float: right;
}

.slide {
    width: 100%;
    position: absolute;
    top: 0px;
}

.sli {
    width: 1190px;
    margin: 0 auto;
}

/*<!--精品课程 begin-->*/
.hot {
    overflow: hidden;
    width: 1190px;
    margin: 0 auto;
}

.public {
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    width: 690px;
    height: 256px;
    background-color: #ffffff;
    border-radius: 8px 8px 8px 8px;
}

.public span {
    display: block;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
}

.public_1 {
    height: 207px;
    margin-top: 10px;
    position: relative;
}

.public_left {
    background-image: url(../images/left.png);
    position: absolute;
    top: 50px;
    left: 0px;
    width: 30px;
    height: 60px;
}

.public_right {
    background-image: url(../images/right.png);
    position: absolute;
    top: 50px;
    right: 0px;
    width: 30px;
    height: 60px;
}

.public_l_1 {
    float: left;
    margin-left: 48px;
    width: 290px;
    height: 190px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
}

.public_r_1 {
    margin-right: 48px;
    float: right;
    width: 290px;
    height: 190px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
}

.public_top {
    border-radius: 6px 6px 0px 0px;
    background-image: url(../images/pub.png);
    width: 290px;
    height: 120px;
}

.public_bottom {
    width: 290px;
    height: 70px;
}

.public_bottom a {
    margin-left: 10px;
    margin-right: 10px;
    line-height: 35px;
    font-size: 12px;
    text-decoration: none;
    color: #999999;
}

.public_bottom .public_span1 {
    font-size: 14px;
    color: #444444;
    float: left;
}

.public_span2 {
    float: right;

}

.public_span3 {
    float: left;

}

.public_span4 {
    float: right;
}

.public_bottom div {
    height: 35px;
    display: block;
}

.public_bottom img {
    margin-top: 10px;
    float: right;
    width: 14px;
    height: 14px;
}

.news {
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
    width: 490px;
    height: 256px;
    background-color: #ffffff;;
    border-radius: 8px 8px 8px 8px;
}

.news_left {
    margin-top: 20px;
    margin-left: 45px;
    float: left;
    width: 122px;
}

.news_left span {
    font-size: 16px;
    font-family: "Microsoft YaHei UI";
    font-style: normal;
    color: #444444;
}

.news_left img {
    margin-top: 10px;
}

.news_right {
    margin-top: 20px;
    margin-right: 40px;
    float: right;
    width: 230px;
}

.zx {
    font-size: 14px;
    color: #3492fd;
}

.news_right li{
    color: #3492fd;
}

.news_right ul {
    margin-top: 10px;
    line-height: 30px;
    height: 30px;
}

.news_right li a {
    /*display: inline-block;*/

    line-height: 30px;
    font: normal 14px "Microsoft YaHei UI";
    max-width: 209px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #444444;
    display: inline-block;
}

/*<!--热门微课 begin-->*/

.special_out {
    border: solid 1px #f7f7f7;
    width: 1190px;
    height: 340px;
    margin: 0px auto 0px auto;
}

.special_out ul {
    overflow: hidden;
    list-style: none;
}

.special_out ul a {
    margin: 0 10px;
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color: #999999;
    font-size: 14px;
}

.special_out .st {
    color: #444444;
    font-size: 18px;
}

.special_course {
    width: 290px;
    height: 280px;
    border-radius: 8px;
    background-color: #ffffff;
}

.special{
    overflow: hidden;
}

.sc_1 {
    float: left;
    margin-right: 10px;
}

.sc_2 {
    float: left;
}

.sc_3 {
    margin-left: 10px;
    float: right;
}

.sc_4 {
    float: right;
}

.course_top {
    width: 290px;
    height: 180px;
}

.course_top img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
}

.course_bottom {
    width: 290px;
    height: 100px;
}

.course_name {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.course_desc {
    margin-left: 10px;
    color: #999999;
    font-size: 12px;
}

.course_desc i {
    font-style: normal;
    margin-left: 10px;
    margin-right: 10px;
}

.course_price {
    height: 30px;
    line-height: 30px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.course_price i, .course_price span {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: red;
    font-style: normal;
}

.course_price del, .course_price del i {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999999;
    font-style: normal;
}

.course_price .scan_count span {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999999;
    font-style: normal;
}

.scan_count img {
    margin: auto 0;
}

.scan_count {
    float: right;
}

/*<!--middle end-->*/

/*<!--footer begin-->*/
.footer {
    background: #274553;
}

.hr {
    height: 1px;
    background-color: #666666;
}

/*<!--友情链接 begin-->*/
.footer1 {
    overflow: hidden;
    width: 1190px;
    height: 152px;
    margin: 13px auto;
}

.introduce {
    margin-top: 20px;
    float: left;
    width: 430px;
}

.footer_title {
    font-size: 18px;
    color: #ffffff;
}

.introduction {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.friend_link {
    margin-top: 20px;
    float: right;
    width: 515px;
}

.follow {
    margin-top: 20px;
    float: left;
    margin-left: 50px;
    width: 120px;
}

.icon {
    width: 120px;
    margin-top: 15px;
}

.weibo {
    float: left;
}

.weixin {
    float: right;
}

.friend a {
    margin-top: 8px;
    color: #ffffff;
    margin-right: 30px;
    float: left;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
}

/*<!--版权声明 begin-->*/
.footer2 {
    padding-bottom: 30px;
}

.footer2 ul {
    width: 300px;
    list-style: none;
    overflow: hidden;
    margin: 10px auto;
}

.footer2 ul li {
    float: left;
}

.footer2 ul a {
    margin: 0 10px;
    font-size: 12px;
    color: #ffffff;
}

.footer2 ul em {
    font-style: normal;
    font-size: 12px;
    color: #666666;
}

.footer2 p {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}

/*<!-- footer end-- >*/






