<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>保存</title>
    <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
</head>
<body>
    <table>
        <tbody>
            <tr><td>姓名:</td> <td><input name="name"></td></tr>
            <tr><td>微信号:</td> <td><input name="wxid"></td></tr>

            <tr><td colspan="2"><button id="submit">提交</button></td></tr>
        </tbody>
    </table>

    <img id="img" style="height: 300px;width: 300px;">
</body>
<script>
    $(document).ready(function () {

        var uuid= "";

        var func;

        $("#submit").click(function () {

            var name = $("input[name=name]").val();
            var wxid = $("input[name=wxid]").val();

            $.post("createDocker",{name:name,wxid:wxid},function (data) {
                console.log(data);
                uuid = data;

                func = setInterval(getImage,1000);
            })


        });


        function getImage() {
            $.get("getImageData",{uuid:uuid},function (data) {
                console.log(data);
                if(data){
                    $("#img").attr("src","data:image/png;base64,"+data);
                    clearInterval(func);
                }
            })
        }

    });
</script>
</html>